@font-face {
  font-family: "roboto regular";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "roboto bold";
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

:root {
  --primary: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --default-font-sz: 16px;
  --weight-400: 400;
  --weight-700: 700;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--default-font-sz);
  font-family: "roboto regular";
}

body {
  background-color: var(--charcoal-grey);
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
}

button {
  width: 100%;
  font-family: "roboto bold";
  padding: 1rem 0;
  border-radius: 10px;
  border: none;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  cursor: pointer;
}

.card-container {
  background-color: var(--white);
  border-radius: 30px;
  padding: 2rem;
}

/* sign up */
/* #sign-up {
  display: none;
} */

.mobile-illustration {
  display: none;
}

.sign-up-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.card-info {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1.5rem;

  /* align-items: center; */
  /* justify-content: center; */
}

.card-info h1 {
  font-size: 3.5rem;
  font-family: "roboto bold";
  margin-bottom: 1rem;
}

.card-info p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.card-info ul {
  list-style-type: none;
}

.card-info ul li {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-info ul li img {
  width: 1rem;
}

.card-info form label {
  font-family: "roboto bold";
  font-size: 0.8rem;
  display: block;
  margin-top: 2rem;
}

.card-info form input {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  color: var(--grey);
  border: 1px solid var(--grey);
  margin-top: 0.5rem;
}

.card-info form button {
  margin: 1rem 0;
}
/* thank you */

#thank-you {
  display: none;
}

.thank-you-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 430px;
  padding: 3rem;
}

.thank-you-card img {
  width: 3.5rem;
}

.thank-you-card h2 {
  font-size: 3rem;
  font-family: "roboto bold";
  line-height: 45px;
}

.thank-you-card p {
  font-size: 0.9rem;
}

.thank-you-card #user-email {
  font-family: "roboto bold";
}

/* media queries */

@media screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }

  .card-container {
    padding: 1.5rem;
  }

  .card-info h1 {
    font-size: 3.3rem;
  }

  .card-info {
    flex-basis: 60%;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 14px;
  }

  .card-info h1 {
    font-size: 3.2rem;
  }

  .card-info {
    flex-basis: 70%;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 650px) {
  .card-container {
    padding: 1.2rem;
  }
  .card-info h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 500px) {
  main {
    width: 100%;
    height: 100%;
  }

  .card-container {
    padding: 0;
    border-radius: 0;
  }

  .sign-up-card {
    flex-direction: column-reverse;
    align-items: stretch;
    height: 100%;
  }

  .desktop-illustration {
    display: none;
  }

  .mobile-illustration {
    display: block;
  }
  .card-info {
    margin-top: 1rem;
    flex-basis: 60%;
    padding: 0 2rem;
    justify-content: flex-start;
    gap: 1rem;
  }
}
